@charset "utf-8";

body {
    margin: 0;
}

.container {
    width: 400px;
    /* 上部のみ16px余白 */
    margin: 16px auto;
}

h1 {
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    /* flexboxの利用 */
    display: flex;
    /* flex itemの間を開ける(両サイドによる) */
    justify-content: space-between;
    /* 上下中央揃え */
    align-items: center;
    padding-bottom: 8px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    /* アイテムを先頭にまとめる */
    align-items: flex-start;
    margin-top: 16px;
}

/* liの中のinput要素がcheckされた際に、兄弟要素spanに適用 */
li input:checked + span {
    color: #aaa;
    text-decoration: line-through;
}

li input {
    margin-right: 8px;
}

li label {
    margin-right: 8px;
}

form {
    display: flex;
    /* inpu要素とbutton要素の間のピクセル数 */
    gap: 8px;
    margin-top: 16px;
}

/* 半角空白で子孫結合できる(子孫結合詞) */
form input {
    /* flex itemの、親要素いっぱいに横幅が広がる */
    flex: 1;
    padding: 4px;
}